# ==========================================
# Entornos Virtuales y Paquetes (Python)
# ==========================================
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt

# ==========================================
# Jupyter Notebooks
# ==========================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ==========================================
# Compilación de LaTeX (Informes y Diapositivas)
# ==========================================
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.bcf
*.run.xml
# Nota: No ignoramos *.pdf para que los entregables finales sí se suban al repositorio.

# ==========================================
# Entornos de Desarrollo (IDE)
# ==========================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================
# Simuladores y Software de Ingeniería
# ==========================================
# LTSpice
*.raw
*.net
*.op.raw
*.log

# MATLAB / Simulink
*.asv
*.slxc
slprj/

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db
desktop.ini